%h1 Twitflickup

%div#flickr-image
  = image_tag @mashup[:image].url_m, :alt => @mashup[:image].title

%div#tweet
  = image_tag( @mashup[:tweet][:user][:profile_image_url], :alt => "Profile picture for #{@mashup[:tweet][:user][:screen_name]}") 
  %p
    = @mashup[:tweet].text
    %br 
    @
    = @mashup[:tweet][:user][:screen_name]

